branches:
  - '+([0-9])?(.{+([0-9]),x}).x'
  - {{ main_branch_name }}
  - name: beta
    prerelease: true
  - name: alpha
    prerelease: true

repositoryUrl: https://github.com/{{ repo_username }}/{{ repo_name }}